@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --dark:#222;
    --teal:teal;
    --primary:slateblue;
    --orange:orange;
    --red:red;
}

html{
    scroll-behavior: smooth;
}

body{
    width:100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.navbar{
    width:100%;
    height: 80px;
    background-color: var(--primary);
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight:800;
}
.navbar .logo{
    font-size: 1.5rem;
}

.navbar .menu a{
    background-color: var(--dark);
    padding: 6px 9px;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: all 0.6s;
    margin: 0px 10px;
}

.navbar .menu a:hover{
    background-color: orange;
}

.title{
    text-align: center;
    color: var(--primary);
}


#users{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 4px;
}

.card{
    box-shadow: gray 0px 0px 10px;
    padding:10px;
    border-radius: 5px;
    margin: 10px;
}

.card-header {
    background-color: var(--primary);
    /* padding: 2px; */
    text-align: center;
    color: white;
    font-size: 1.5rem;

}
.card-header h5{
    margin: 5px;
}

.card-body p{
    display: flex;
    justify-content:space-between;
    color: black;
}

.card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    cursor: pointer;
    text-decoration: none;
    border:none;
    font-size: 0.6rem;
    padding: 4px 6px;
    border: 5px;
    color: white;
}
.info{
    background-color: teal;
}

.danger{
    background-color: red;
}
.success{
    background-color: green;
}
